#navbar {
  height: 100%;
  padding: 30px;
}

#navbar ul {
  float: none;
}

#navbar ul li {
  display: table;
  padding: 5px;
}

/* Body */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9,
.box-10,
.box-11,
.box-12,
.box-13,
.box-14,
.box-15,
.box-16,
.box-17,
.box-18,
.box-post-1,
.box-post-2,
.box-post-3,
.box-post-4,
.box-post-5,
.box-post-6,
.box-post-7,
.box-post-8,
.box-post-9,
.box-post-10,
.box-post-11,
.box-post-12,
.box-post-13,
.box-post-14,
.box-post-15,
.box-post-16,
.box-post-17,
.box-post-18
 {
  grid-column: 1;
}

.box-1,
.box-post-1,
.box-post-6,
.box-post-10,
.box-post-13
{
  grid-row: 1/4;
}

.box-2,
.box-post-2,
.box-post-7,
.box-post-11,
.box-post-14 
{
  grid-row: 4/8;
}

.box-3,
.box-post-3,
.box-post-8, 
.box-post-12, 
.box-post-15  
{
  grid-row: 8/12;
}

.box-4,
.box-post-4,
.box-post-9,
.box-post-16
 {
  grid-row: 12/16;
}

.box-5,
.box-post-5,
.box-post-17
{
  grid-row: 16/20;
}

.box-6,
.box-post-18
{
  grid-row: 20/24;
}
.box-7 {
  grid-row: 24/28;
}
.box-8 {
  grid-row: 28/32;
}
.box-9 {
  grid-row: 32/36;
}
.box-10 {
  grid-row: 36/40;
}
.box-11 {
  grid-row: 40/44;
}
.box-12 {
  grid-row: 44/48;
}
.box-13 {
  grid-row: 48/52;
}
.box-14 {
  grid-row: 52/56;
}
.box-15 {
  grid-row: 56/60;
}
.box-16 {
  grid-row: 60/64;
}
.box-17 {
  grid-row: 64/68;
}
.box-18 {
  grid-row: 68/72;
}

/* Minimalism */
.wrapper-post {
  grid-template-columns: 1fr;
}

/* About */
#about {
  padding: 60px 20px;
  width: 100%;
}
